opcache.enable'= '1'
opcache.enable_cli'= '1'
opcache.validate_timestamps'= '0'
opcache.memory_consumption'= '256'
opcache.max_accelerated_files'= '20000'
realpath_cache_size'= '4096K'
realpath_cache_ttl'= '600'

date.timezone'= 'UTC'
post_max_size'= '8M'
upload_max_filesize'= '8M'
xdebug.max_nesting_level'= '600'
max_execution_time'= '30'
memory_limit'= '256M'