 _ _ _  _____  _____  _____     _      
| | | ||   __|| __  ||  _  |   |_| ___ 
| | | ||   __||    -||   __| _ | || . |
|_____||__|   |__|__||__|   |_||_||___|

=============================================
http        : http://{{ hostname }}:1337
postgres    : vagrant:vagrant@{{ hostname }}:65432
              or inside vagrant : psql
